---
import { getCollection } from "astro:content";
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import { SEO } from "astro-seo";

const allProjects = await getCollection("projects");
const pageTitle = "Contact Daniel Rosehill";
const metatitle = "Contact Daniel Rosehill";
const metadesc = "Contact information for Daniel Rosehill";
const ogtitle = "Contact Daniel Rosehill";
const ogtwittertitle = "Projects That I'm Currently Working On - Daniel Rosehill";
const ogtwitterdesc = "Contact information for Daniel Rosehill";

---
<SEO
    title={metatitle}
    description={metadesc}
    openGraph={{
      basic: {
        title: ogtitle,
        type: 'content',
        image: "https://danielrosehill.com/ogthumbs/dr-default.png",
      }
    }}
    twitter={{
      creator: "@danielrosehill"
    }}
    extend={{
      // extending the default link tags
      link: [{ rel: "icon", href: "/favicon.ico" }],
      // extending the default meta tags
      meta: [
        {
          name: "twitter:image",
          content: "https://danielrosehill.com/circlehs.png",
        },
        { name: "twitter:title", content: {ogtwittertitle}},
        { name: "twitter:description", content: {ogtwitterdesc}},
      ],
    }}
/>

<Layout pageTitle={pageTitle}>

    <img src="/graphics/contact_banner.webp" class="body-width" />

    <h2>Contact Daniel Rosehill</h2>
    <div class="wavy-divider"></div>

    <h3>Some friendly notes:</h3>

    <p>I don't have time to respond to every email that I receive.</p> 
    <p>I don't have bandwidth to help people with personal technical issues (ever).</p>
    <p>I like hearing from nice humans. I'm not a fan of scraping spam and low-effort "brand partnership" proposals</p>

    <h3>Email Addresses</h3>
    <div class="wavy-divider"></div>

    <p>This is my version of a CAPTCHA challenge:</p>

     <img src="/graphics/sloth_captcha.png" class="body-width" />

   <h2>PGP Email</h2>

   <img src="/graphics/spy.webp" class="body-width" />

   <p>For the shady people:</p>

   <p class="typewriter">danielsrosehill@protonmail.com</p>

   <p class="codeblock">
    -----BEGIN PGP PUBLIC KEY BLOCK-----

xsBNBGBKH/QBCADXARb84Rtff6OdLQVlywUMq6DZw2TmgwqCLWqiggLfkGmh
YikFGagUaDHDoDuA4QZ67KMM6twCJV3XQNLBW4XlMC2peYKp8huBDHormtbu
6jl69pIT8YUsLotd91m5Zkn5QLyMkgJQyzDcy0VHnlSLOhpLokdqePgyKNRy
5HXzExTzCvblnAP8T4byz7xk8rtm4YBVXnxOMQqHQnRVNDSZPg0EeZjeAX3v
SGzK9Ip/mEywyolFuNq+Uj8F4V5Giif2epQaIVvp+dV3AZYSY1B42OrfNQKM
6LaD7xMcMkqcLz3AQPZwdsN0SsWhPXToIU1o5oPjLvVVzXfcmrHoV/OVABEB
AAHNP2RhbmllbHNyb3NlaGlsbEBwcm90b25tYWlsLmNvbSA8ZGFuaWVsc3Jv
c2VoaWxsQHByb3Rvbm1haWwuY29tPsLAjQQQAQgAIAUCYEof9AYLCQcIAwIE
FQgKAgQWAgEAAhkBAhsDAh4BACEJEOdStfF1mVdvFiEExgLSRFnpeMG0PGRf
51K18XWZV2/NSgf/fVQXNp78Ps0Z38fGQNiRqL1fXkOMvj8P2no2cmzrpaRl
GbyK0N+9k4iz5nqiP2xwLq+EnVtVek/R6aGhiseMO/wkQOLFoQt2p4tzsobF
PSAKccnNcw2jJZ5eduuwUTRhvuP+cKddj8qMasdCuQKha3t3mmd2JkGqnuuO
bEoP0bxZhDhJ/sysyxBp/ltPKGIMB742LJ58dHCZG1DpzJ3yelyg/3NfCT1L
rTyYDx8tb2RK1iF1tW0Dk62LCBaSBAMpiUgpWbUjxoOxAbFngOrWPxDR6hLc
B+zLK49YOyCPR4/FT+A73sEARW21M4Q4ymaf2pD/5YWlmnalNsQn07GKH87A
TQRgSh/0AQgAkeZMFuD/R7bra2Ux0MgZUt+tcecS7G84WqYeEZeP4AEgcnT2
7XW8/47FRwNpg2n7KVwadEUFcZrtCI5iQkhBOGlwfyHU9ZspPxaiNBBpioJA
nsenUlQ1B1AylimbTnj5c39bRULPjMRA6UXvhah5BYOwmsjWjSdPuIUb2Zfl
l5lMsPVQcbH5KWxspo14KQR74r86qyvbQoZOVKknN5VeXyW7yph05IgrCv3W
txh1ENWZpWg9BQMwYfRxYNkMRbuiNUw1X6Mcq3D5q6j3+/IcqcxvhGQCbIO9
9m4A9AoiuJorXhS8pH2gZo3i4Frj6p2j/dXt336p6H64ycxZrKQ0wQARAQAB
wsB2BBgBCAAJBQJgSh/0AhsMACEJEOdStfF1mVdvFiEExgLSRFnpeMG0PGRf
51K18XWZV29B/ggAtu6N1/A2h7JRyE9EIFxcWxnS87mkptVoTWZwyjI5PhAp
0rAo6ZdoKk+3DRwPr2NFkR8qGFczeRtwCk4PyG1BR2PAM5RD8UyWBlOB6cEF
qNzPv5RAC5/IwajDywD68o+uW3D1x2bj3DJrMT/mpj4wb1tv3v3pp9xyaisn
/omikzj0uXqqdWU2a/a98T81FRKWRyspZR+J823fqrXXKWWPEmkLybfT0UA/
2Ckj2BHHyGegYCgWMbaBbSbFsrKPNOiHtBrenSqEfMCjKABe+cGUfxl7SuIr
HTb+8U5RSNJCgrfC4RLMmGckAhyUDY3JB0Y7O5bbmaqiB5yoL7O3cnZ1sQ==
=izyG
-----END PGP PUBLIC KEY BLOCK-----
   </p>

</Layout>
